.root {
    -fx-pref-height: 200;
    -fx-pref-width: 300;
    -fx-alignment: CENTER;
    -fx-font-family: "Arial";
}

#message {
    -fx-text-fill: #B71C1C;
    -fx-pref-height: 160;
    -fx-pref-width: 250;
}