.root {
    -fx-pref-height: 450;
    -fx-pref-width: 600;
    -fx-base: #424242;
    -fx-background: #212121;
    -fx-font-family: "Arial";
}

.label {
    -fx-text-fill: #9E9E9E;
}

.button {
    -fx-text-fill: #9E9E9E;
    -fx-cursor: hand;
}

.menu-bar .label {
    -fx-text-fill: #000000;
    -fx-opacity: 50%;
}

.menu-bar .menu {
    -fx-cursor: hand;
}

.menu-bar .menu-item {
    -fx-cursor: hand;
}

.tooltip {
    -fx-opacity: 50%;
}

.spinner {
    -fx-cursor: hand;
}

.check-box {
    -fx-cursor: hand;
}

.progress-indicator {
    -fx-progress-color: #424242;
    -fx-opacity: 70%;
}

.progress-indicator .percentage {
    -fx-fill: #9E9E9E ;
    -fx-opacity: 70%;
}

